<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kukariri</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendors/jquery_file_upload/style.css"> 
    <link rel="stylesheet" href="/css/vendors/jquery_file_upload/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/css/vendors/jquery_file_upload/jquery.fileupload.css">
    <link rel="stylesheet" href="/css/vendors/jquery_file_upload/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="/css/vendors/jquery/jquery-ui.css">
    <link rel="stylesheet" href="/css/vendors/fullcalendar/fullcalendar.css">
    <link media="print" rel="stylesheet" href="/css/vendors/fullcalendar/fullcalendar.print.css">
    <noscript>
      <link rel="stylesheet" href="/css/vendors/jquery_file_upload/jquery.fileupload-noscript.css">
    </noscript>

    <noscript>
      <link rel="stylesheet" href="/css/vendors/jquery_file_upload/jquery.fileupload-ui-noscript.css">
    </noscript>
    <link rel="stylesheet" href="/css/phoenix/phoenix.css">
    <link rel="stylesheet" href="/css/front/search_items/show.css">
    <link rel="stylesheet" href="/css/front/items/show.css">
  </head>

  <body>
      <header id='topnav'>
        <nav class='navbar navbar-default'>
          <div class='navbar-header col-md-12'>
            <button class='navbar-toggle collapsed' aria-controls='navbar' aria-expanded='false' data-target='#navbar' data-toggle='collapse' type='button'>
              <span class='sr-only'>
                Toggle navigation
              </span>
              <span class='icon-bar'>
              </span>
              <span class='icon-bar'>
              </span>
              <span class='icon-bar'>
              </span>
            </button>
            <div id="logo" class="header">
              <span class="logo"></span>
            </div>
          </div>
          <div id='navbar' class='collapse navbar-collapse'>
            <form action='/persons/search' method='POST'>
              <input type='text' name='item[title]' class="item_title" placeholder="Chercher des objets" > 
              <button class="btn btn-primary" type="submit" name="item[valid_search]">Rechercher</button>
            </form>
          </div>
        </nav>
      </header>

      <section id='content' class='content container'>
        <%= @inner %>
      </section>

      <div class="footer">
        <p>Kukariri</p>
      </div>

    <script src="/js/vendors/jquery/moment.min.js"></script>
    <script src="/js/vendors/jquery/jquery-2.1.3.min.js"></script>
    <script src="/js/vendors/jquery/jquery-ui.custom.min.js"></script>
    <script src="/js/vendors/jquery/jquery-ui.js"></script>
    <script src="/js/vendors/rjust/rjust.js"></script>
    <script src="/js/vendors/scan/scan.js"></script>
    <script src="/js/vendors/jquery_file_upload/widget_jquery/jquery.ui.widget.js"></script>
    <script src="/js/vendors/jquery_file_upload/Javascript-Templates/tmpl.min.js"></script>
    <script src="/js/vendors/jquery_file_upload/JavaScript-Load-Image/load-image.all.min.js"></script>
    <script src="/js/vendors/jquery_file_upload/JavaScript-Canvas-to-Blob/canvas-to-blob.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/vendors/jquery_file_upload/javascript-Blueimp-Gallery/jquery.blueimp-gallery.min.js"></script>
    <script src="/js/vendors/jquery_file_upload/jquery.iframe-transport.js"></script>
    <script src="/js/vendors/jquery_file_upload/jquery.fileupload.js"></script>
    <script src="/js/vendors/jquery_file_upload/jquery.fileupload-process.js"></script>
    <script src="/js/vendors/jquery_file_upload/jquery.fileupload-image.js"></script>
    <script src="/js/vendors/jquery_file_upload/jquery.fileupload-audio.js"></script>
    <script src="/js/vendors/jquery_file_upload/jquery.fileupload-video.js"></script>
    <script src="/js/vendors/jquery_file_upload/jquery.fileupload-validate.js"></script>
    <script src="/js/vendors/jquery_file_upload/jquery.fileupload-ui.js"></script>
    <script src="/js/vendors/lodash/lodash.js"></script>
    <script src="/js/vendors/fullcalendar/fullcalendar.min.js"></script>
    <script src="/js/front/items/jquery_file_upload.js"></script>
    <script src="/js/front/pictures/pictures.js"></script>
    <script src="/js/front/provided_dates/new.js"></script>
    <script src="/js/front/calendars/fullcalendar.js"></script>
    <script src="/js/front/items/form_search_item.js"></script>
    <script src="/js/front/items/show.js"></script>
    <script src="/js/front/provided_dates/new.js"></script>
  </body>
</html>
